*, *:before, *:after {
-webkit-box-sizing: border-box;
        box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Lato', sans-serif;
  background-color: #FDFDFD;
}

body {
  display: -ms-grid;
  display: grid;
}

.nav-bar {
  padding: 20px 60px;
  right: 0;
  display: table;
  width: 100%;
}

.logo {
  left: 50px;
  width: 10px;
  display: table-cell;
  vertical-align: middle;
}

ul.nav-ul{
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}

/* nav {
  position: fixed;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
  z-index: 5;
} */

.nav-link {
  font-size: 2rem;;
  width: 20%;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  display: inline-block;
}

.nav-link a {
  text-decoration: none;
  color: #113764;
  letter-spacing: .5px;
  font-weight: 300;
}

.nav-link a:hover {
  font-style: italic;
  font-weight: 500;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    /* background-color: #f1f1f1; */
    min-width: 100px;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
    font-size: 1.4rem;
    text-align: left;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}


.intro-text{
  position: absolute;
  left: 40%;
  top: 115px;
  z-index: 1;
}

#hello,
#anita,
#description,
#sandiego {
  /* padding-bottom: 10px; */
}

#hello {
  font-size: 2.8rem;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: #113764;
  letter-spacing: 1px;
}

#anita {
  font-size: 8rem;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: #113764;
}

#description {
  font-size: 2.8rem;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: #113764;
  letter-spacing: 1px;
}

#sandiego {
  font-size: 2.8rem;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: #113764;
  letter-spacing: 1px;
}

/* .homepage-rectangles {
  z-index: auto;
  width: 100%;
  position: relative;
}

#purple_rec {
  position: relative;
  right: 50px;
  bottom: 250px;
  z-index: -1;
}

#green_rec {
  position: relative;
  bottom: 550px;
  right: 150px;
}

#blue_rec {
  position: relative;
  right: 150px;
  bottom: 400px;
} */

/* .featured-projects {
  margin: 0 70px;
  margin-top: 60px;
}

.projects-row {
  width: 100%;
}

.projects-column {
  float: left;
  height: 200px;
}

.projects-column .left {
  width: 30%;
}

.left {
  width: 30%;
  display: table;
  background-color: rgba(248, 248, 240, 1);
}

.left img {
  display: table-cell;
  margin: 20px auto;
  max-height: 160px;
}

.right {
  width: 70%;
  background-color: rgba(248, 248, 220, 100);
}

.projects-row:hover .left,
.projects-row:hover .right{
background: #ffa;
} */

/* Clear floats after the columns */
/* .row:after {
  content: "";
  display: table;
  clear: both;
}

.right h1 {
  margin-top: 60px;
  margin-left: 30px;
  margin-bottom: 20px;
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: .5px;
  color: #113764;
  font-family: 'Lato', sans-serif;
}

.right div h4 {
display: table-cell;
padding-left: 30px;
font-weight: 300;
font-size: 1.5rem;
letter-spacing: .5px;
padding-bottom: 5px;
font-family: 'Lato', sans-serif;
color: #113764;
} */


.intro-hp {
  height: 500px;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 20px;
  position: relative;
}


.homepage-rectangles-container{
  position: relative;
  margin: 0 auto;
  width: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  top: 50px;
}

.homepage-small-rectangles{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.green-rec-container{
  padding-top: 10px;
}

.featured-header {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 50px;
  color: #113764;
}

.featured-header h1 {
  font-family: "Lato" sans-serif;
  font-size: 2.5rem;
  font-style: italic;
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
  background: #DFF7FE;
  width: 20%;
  margin: 0 auto;
}

.project-container {
  padding-bottom: 50px;
  width: 90%;
  margin: 0 auto;
}

.featured-project {
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 300px;
}

.truwork-project {
  background: rgba(248, 248, 220, 100);
}

.coHabit-project {
  background: rgba(207, 221, 236, 100);
  /* background-image: url(../imgs/coHabit-frames4.png);
  background-size: cover; */
}

.new-project {
  background: rgba(253, 246, 233, 100);
}

.project-container:hover {
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.image-project {
  opacity: 1;
  display: block;
  width: 100%;
  height: 300px;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  padding: 20px;
}

.image-project-coHabit {
  opacity: 1;
  display: block;
  /* width: 30%; */
  margin: 0 auto;
  height: 300px;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  padding: 20px;
  background-image: url(../imgs/coHabit-frames4.png);
  background-size: cover;
}


.comingsoon-project {
  opacity: 1;
  -webkit-transition: .1s ease;
  -o-transition: .1s ease;
  transition: .1s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  padding: 20px;
  font-size: 4rem;
  font-style: italic;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: #4A4A4A;
  font-weight: 700;
}

.middle-project {
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.featured-project:hover .image-project {
  opacity: 0.1;
}
.featured-project:hover .image-project-coHabit {
  opacity: 0.1;
}

.featured-project:hover .comingsoon-project {
  opacity: 0.3;
  display: none;
}

.featured-project:hover .middle-project {
  opacity: 1;
}

.text-project {
  color: #113764;
  padding: 16px 32px;
  width: 100%;
  font-family: "Lato" sans-serif;
}

.text-project h1 {
  font-size: 6rem;
  font-weight: 700;
}

.upcoming-text {
  font-style: italic;
  color: #4A4A4A;
}

.text-project h4 {
  font-size: 2rem;
  padding-top: 10px;
}

/* About Me Styling */
.main-aboutme {
  display: table;
  width: 100%;
}

.scroll-img {
  background-image: url(../imgs/anita_biopic2.jpg);
  background-position: 100% 35%;
  background-position-x: left;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 70%;
  width: 100%;
}

.aboutme-text {
  display: table-cell;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 1.75;
  width: 50%;
  height: auto;
  padding: 30px;
  background-color: #DFF7FE;
}

.aboutme-text p {
  padding-bottom: 20px;
}

.emphasize-text {
  color: #113764;
  font-weight: 700;
}

.about-me-pic {
  display: table-cell;
  vertical-align: top;
  padding: 70px;
  width: 50%;
}


#bio-pic {
  width: 100%;
  display: none;
}

.about-me-headers {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-weight: 600;font-size: 3rem;
  color: #4A4A4A;
  padding-top: 40px;
}

.skills {
  width: auto;
}


 .skill-icons-section {
   margin-top: 50px;
   margin-bottom: 50px;
}

.skill-icons-section h1 {
  text-align: center;
  font-weight: 600;
  font-size: 40px;
  color: #4A4A4A;
  padding-bottom: 10px;
  width: 100%;
}

/* .skill-imgs {
width: 100%;
margin: 0 auto;
display: flex;
padding: 20px;
justify-content: space-evenly;
}

.skill-imgs .skill-img-container{
width: 33%;
}

.skill-imgs .skill-img-container img{
width: 100%;
} */

/* .skills-icon-container {
  width: 100%;
  display: table;
}

.skills-icons img{
  display: table-cell;
}


.skills-icon-container {
  background: green;
  width: 90%;
  margin: 0 auto;
  display: table;
}

.skills-icon-container img {
  width: 35%;
}

.skills-icon-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  background: #DFF7FE;
  align-items: center;
}

.icon-group {
  height: 200px;
} */

.skills-icon-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.icon-group {
   padding: 10px;
   width: 200px;
   height: 150px;
   margin-top: 10px;
   text-align: center;
}

.contact-form {
  width: 85%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  background: #EDF0FF;
}

.left-side-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

.left-side-text {
  width: 100%;
  text-align: center;
  position: relative;
  top: 180px;
  font-size: 3rem;
  font-family: "Playfair Display";
  font-style: italic;
}

.right-side-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

.form-container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-family: "Playfair Display";
  font-size: 1.4rem;
  padding: 10px;
  position: relative;
  right: 10px;
}

.form-p {
  padding-bottom: 10px;
}

input[type="text"],
input[type="email"]{
  padding: 10px;
  /* border: solid 1px black;
  border-radius: 3px; */
  width: 100%;
  margin-bottom: 15px;
}

input[type="submit"] {
    border: none;
    padding: .75rem 1.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 15px;
    font-size: 1.25rem;
    border-radius: .3rem;

}
input[type="text"]::-webkit-input-placeholder {
    white-space: normal;
    text-align: center;
    font-family: "Playfair Display";
    font-style: italic;
}
input[type="text"]:-ms-input-placeholder {
    white-space: normal;
    text-align: center;
    font-family: "Playfair Display";
    font-style: italic;
}
input[type="text"]::-ms-input-placeholder {
    white-space: normal;
    text-align: center;
    font-family: "Playfair Display";
    font-style: italic;
}
input[type="text"]::placeholder {
    white-space: normal;
    text-align: center;
    font-family: "Playfair Display";
    font-style: italic;
}

  .comment-box {
  height: 28vh;
  }

.resume {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn {
    border: 1px solid;
    padding: 20px 50px;
    font-size: 16px;
    cursor: pointer;
    background: #fff;
    font-size: 1.8rem;
    font-family: "Lato" sans-sans-serif;
}

.resume-button {
    border-color: #DFF7FE;
    color: #113764;
    font-weight: 600;
}

.resume-button:hover {
    background-color: #f1f1f1;
    color: #113764;
}

/*truWork Styling */

#casestudy-navbar {
  background-color: #F1FAFD;
  height: 900px;
}

.case-study-header {
  margin-top: 50px;
  position: relative;
}

.case-study-body {
  width: 100%;
  color: #4A4A4A;
}

.hero-image-container,
.cohabit-hero-image-container{
  /* margin: 0 auto; */
  width: 100%;
  /* display: block; */
  /* padding-bottom: 50px; */
  text-align: center;
}

.cohabit-hero-image-container{
  height: 590px;
  position: absolute;
  background-image: url(../imgs/coHabit-frames4.png);
  background-size: cover;
  /* opacity: .5; */
}

/* .cohabit-hero-image-container img{
    width: 100%;
} */

.hero-image-container img{
  /* width: 100%; */
  width: 50%;
}

.hero-text {
  margin: 0 auto;
  text-align: center;
  margin-top: 60px;
  max-width: 500px;
  position: relative;
}

.hero-text-cohabit {
  margin: 0 auto;
  text-align: center;
  margin-top: 620px;
  max-width: 500px;
  position: relative;
}

.hero-text h3 {
  font-family: "Playfair Display";
  font-weight: 400;
  font-style: italic;
  font-size: 2rem;
  color: #4A4A4A;
  margin-bottom: 10px;
}

.hero-text-cohabit h3 {
  font-family: "Playfair Display";
  font-weight: 400;
  font-style: italic;
  font-size: 2rem;
  color: #4A4A4A;
  margin-bottom: 10px;
}

.button-link{
  color: #4A4A4A;
}

.hero-text h1 {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 7.2em;
  color: #4A4A4A;
}

.hero-text-cohabit h1 {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 7.2em;
  color: #4A4A4A;
}

.prototype-button {
  width: 105px;
  height: 105px;
  border-radius: 50%;
  background: #fff;
  display: table;
  bottom: -30px;
  right: 0;
  position: absolute;
}

.prototype-button .arrow-container{
  display: none;
}

.prototype-button p {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-weight: 400;
  color: #4A4A4A;
}

.prototype-button:hover p{
  display: none;
}

.prototype-button:hover .arrow-container{
  display: block;
  width: 30px;
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #4A4A4A;
}

.overview {
  margin: 0 auto;
  height: auto;
  background-color: #FDFDFD;
}

.overview, .grey-background, .visual-design{
  padding: 40px 0;
}

.overview-body {
display: table;
margin: 0 auto;
}

.overview-body-text{
display: table-cell;
vertical-align: top;
}

.section-title {
  font-size: 3.2rem;
  font-weight: 700;
  color: #4A4A4A;
  letter-spacing: 3px;
  padding-top: 75px;
  padding-bottom: 6rem;

}

/*.section-title span.second-word{
  font-weight: 400;
}*/

.page-section{
  max-width: 1000px;
}

.subsection {
  padding-bottom: 20px;
  padding-top: 20px;
}

.subsection, .section-title{
  width: 70%;
  margin: 0 auto;
}


.blue-highlight{
position: relative;
display: inherit;
}

.blue-highlight span{
z-index: 10;
position: relative;
}

.blue-highlight::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 40%;
  bottom: 32%;
  left: 0;
  opacity: 1;
  z-index: 0;
  background: #BAD7E0;
}

.subsection-title {
  font-size: 2.4rem;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  color: #4A4A4A;
  padding-bottom: 20px;
  position: relative;
  letter-spacing: .1rem;
}

.emphasize-text-project {
  font-weight: 700;
}

.section-paragraphs {
  font-family: 'Lato', sans-serif;
  line-height: 32px;
  font-weight: 300;
}

.section-button {
  font-weight: 700;
  text-decoration: none;
  font-size: 1.4rem;
  color: #4A4A4A;
  position: relative;
}

.section-button, .section-paragraphs{
  padding-bottom: 30px;
  font-size: 1.8rem;
}

.tools-used {
padding-top: 80px;
}

.grey-background {
  background-color: #F7F7F7;
  height: auto;
  width: 100%;
}

.user-research {
  margin: 0 auto;
}

.table-text {
  display: inline-block;
  /* padding-bottom: 30px; */
}

.survey-text {
  display: table-cell;
  vertical-align: top;
}

.survey-img {
display: table-cell;
}

.survey-img img {
height: 300px;

}

.button-div {
padding-bottom: 30px;
}

.section-button::after{
content: url('../imgs/right-arrow.svg');
width: 13px;
position: absolute;
right: -20px;
top: 3px;
}

.section-button::before{
content: '';
position: absolute;
display: block;
height: 2px;
top: 0.6em;
width: 100%;
background: #4A4A4A;x
-webkit-transform-origin: center right;
    -ms-transform-origin: center right;
        -webkit-transform-origin: center right;
            transform-origin: center right;
-webkit-animation: strikethrough 1s 0.5s cubic-bezier(.55, 0, .1, 1) 1;
        animation: strikethrough 1s 0.5s cubic-bezier(.55, 0, .1, 1) 1;
-webkit-transition: -webkit-transform 0.5s cubic-bezier(.55, 0, .1, 1);
transition: -webkit-transform 0.5s cubic-bezier(.55, 0, .1, 1);
-o-transition: transform 0.5s cubic-bezier(.55, 0, .1, 1);
transition: transform 0.5s cubic-bezier(.55, 0, .1, 1);
transition: transform 0.5s cubic-bezier(.55, 0, .1, 1), -webkit-transform 0.5s cubic-bezier(.55, 0, .1, 1);
-webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
        transform: scaleX(0);
}

.section-button:hover:before{
-webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
        transform: scaleX(1);
-webkit-transform-origin: center left;
    -ms-transform-origin: center left;
        transform-origin: center left;
}

/* Keyframes for initial animation */

@-webkit-keyframes strikethrough {
  from {
  	-webkit-transform: scaleX(0);
  	        transform: scaleX(0);
  }
  to {
  	-webkit-transform: scaleX(1);
  	        transform: scaleX(1);
  }
}

@keyframes strikethrough {
  from {
  	-webkit-transform: scaleX(0);
  	        transform: scaleX(0);
  }
  to {
  	-webkit-transform: scaleX(1);
  	        transform: scaleX(1);
  }
}


.competitive-analysis-text {
display: table-cell;
vertical-align: top;
width: 60%;
vertical-align: top;
}

 div #ca-2 img {
   width: 100%;
   padding-bottom: 30px;
 }

 table {
   border-collapse: initial;
 }

.ca-table {
  text-align: left;
  width: 100%;
  padding: 10px;
  margin-bottom: 40px;
}

.ca-table-img {
  text-align: center;
  font-size: 2rem;
  padding-top: 20px;
  padding-bottom: 5px;
}

.ca-table-title{
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
  padding-top: 5px;
  padding-bottom: 20px;
}

.ca-table-subtitle {
  text-align: left;
  font-size: 1.8rem;
  font-weight: 700;
  font-style: italic;
  padding-top:  10px;
  padding-bottom: 15px;
}


.ca-table-description {
  font-size: 1.6rem;
  font-weight: 300;
  padding-bottom: 10px;
  padding-right: 5px;
}


.user-persona-bullet{
  width: 200px;
}

.user-persona-pics {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 30px;
  padding: 20px;
  background: #FAFAF9;
  -webkit-box-shadow: 0px 2px 13px 8px #CECECE;
          box-shadow: 0px 2px 13px 8px #CECECE;

}

.user-persona-name {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
    font-weight: 600;
}

.user-persona-list {
  text-align: left;
  list-style: initial;
}

.user-persona-bullet li {
  padding-top: 10px;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  line-height: 25px;
  font-weight: 300;
  display: list-item;
}

.user-persona-container {
  width: 100%;
}

.user-stories-flows {
display: table;
}

.user-stories-flows-text {
display: table-cell;
vertical-align: top;
}

.user-stories-img {
  width: 100%;
  padding: 30px 30px 30px 30px;
  overflow: hidden;
  margin: 0 auto;
  padding-bottom: 50px;
}

.user-stories-img img {
  width: 100%;
}

.visual-design {
  margin: 0 auto;
}

.wireframe-pics {
  display: table;
  padding-bottom: 50px;
  margin: 0 auto;
  width: 100%;
}

.wireframe-figure {
  display: table-cell;
  padding-left: 50px;
}

.wireframe-figure img {
  width: 100%;
  margin: 0 auto;
}


.survey-caption {
  text-align: center;
  padding-top: 10px;
  font-size: 1.4rem;
}

.fig-caption {
  text-align: center;
  padding-top: 10px;
  font-size: 1.4rem;
}

.branding-subsection {
  height: auto;
  width: 100%;
  padding-bottom: 20px;
}

.branding-subsection h3 {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 400;
  padding-top: 10px;
  padding-bottom: 10px;
}

.branding-subsection p {
  font-family: 'Lato', sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
}
/*
#logo-progression {
  margin: 0 100px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
} */

/* #logo-progression img {
  width: 100%;
  margin: 0 auto;
  height: 100px;
  margin-bottom: 50px;
} */

#color-pallete img {
  width: 100%;
  margin: 0 auto;
  height: auto;
  margin-bottom: 50px;
}

#logo-progression-coHabit {
  margin: 0 auto;
  height: 100px;
  margin-bottom: 50px;
  display: block;
}
#logo-progression-coHabit img {
  width: 100%;
  margin: 0 auto;
}

.cohabit-hifi-mockups {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 50px;
}

.cohabit-anchor {
  width: 20%;
  height: 100%;
}

.cohabit-hifi-pics {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  padding: 5px;
}

/* HIFI SECTION */

.hifi-box-container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding-bottom: 50px;
}

.hifi-row{
  min-height: 300px;
  max-height: 500px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.hifi-cell{
  width: 50%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hifi-full {
  width: 100%;
}

.hifi-row.blue .hifi-cell.hifi-right{
  background: #BCD9E2;
}
.hifi-row.blue .hifi-cell.hifi-left{
  background: #DFF7FE;
}
.hifi-row.purple .hifi-cell.hifi-right{
  background: #D3D9F8;
}

.hifi-row.purple .hifi-cell.hifi-left{
  background: #EDF0FF;
}

.hifi-row.yellow .hifi-cell{
  background: #FCF7AF;
}

.hifi-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: 0;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

a.hifi-cell:hover{
  background-color: rgba(0,0,0,.2)!important;
}

.hifi-image{
  width: 80%;
  margin: 0 auto;
}

.hifi-image img{
  width: 100%;
  -webkit-box-shadow: 2px 10px 34px 0 rgba(0,0,0,0.50);
          box-shadow: 2px 10px 34px 0 rgba(0,0,0,0.50);
}

.hifi-image.full-image{
  width: 60%;
  padding: 15px;
}

.hifi-image.hifi-homepage-img{
  padding-top: 50px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.hifi-cell.hifi-right h1 {
  font-size: 2rem;
  font-weight: 700;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 10px;
}

.hifi-cell.hifi-left h1 {
  font-size: 2rem;
  font-weight: 700;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 10px;
}

.grey-bullet-points {
  text-align: left;
  list-style: initial;
  padding-left: 10px;
  font-weight: 700;
  font-size: 1.6rem;
}

.grey-rectangle {
  width: 100%;
  padding: 20px;
  /* height: 250px; */
  background-color: #F2F2F2;
  display: table;
  margin: 0 auto;
}

.grey-bullet {
  font-family: 'Lato', sans-serif;
  line-height: 25px;
  margin: 20px;
}

.testing-box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  text-align: center;
}

.testing-row {
  /* min-height: 300px;
  max-height: 500px; */
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #E4E4E4;
  margin-bottom: 50px;
}

.testing-image {
  padding: 10px;
}

.testing-row:hover {
  background-color: rgba(0,0,0,.4)
}

.testing-image img {
  width: 100%;
}

.right-arrow-change {
  width: 40px;
}

/* .testing-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: 0;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

.testing-box-container.testing-overlay:hover{
  background-color: rgba(0,0,0,.2)!important;
} */

.conclusion {
  margin: 0 auto;
}

/* footer Styling */
.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-height: 120px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding-top: 30px;
    padding-bottom: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* color: yellow; */
}

.social-media i {
  color: grey;
}

.fab {
  font-size: 3rem;
  padding-left: 20px;
}

.fas {
  font-size: 3rem;
  padding-left: 20px;
}

.signature p {
  font-size: 1.4rem;
}

i:hover {
  color: #113764;
}

/*coHabit Styling */

#casestudy-navbar2 {
  background-color: #CFDDEC;
  height: 900px;
}

.survey-bullet {
  text-align: left;
  /* font-style: italic; */
  padding-bottom: 20px;
}

.survey-img-container {
  width: 100%;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.survey-list {
    font-family: 'Lato', sans-serif;
    padding-top: 5px;
    font-size: 1.8rem;
    line-height: 32px;
    font-weight: 300;
    display: list-item;
}

.coHabit-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#survey-img1 {
  height: 175px;
}

#survey-img2 {
  height: 125px;
}

#homeshare-img img {
  width: 150px;
}

#roomiematch-img img {
  width: 200px;
}

#roomi-img img {
  width: 100px;
}

.user-persona-bullet2 {
    width: 200px;
    text-align: center;
}

.user-persona-bullet2 li {
  padding-top: 10px;
  font-family: 'Lato', sans-serif;
  font-size: 1.4rem;
  line-height: 25px;
  font-weight: 300;
  display: list-item;
}

.entire-testing-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cohabitusertesting {
  width: 50%;
  margin: 0 auto;
}

.cohabitusertesting img {
  width: 500px;
  padding: 20px;
  margin-bottom: 50px;
}


.grey-rectangle-cohabit {
  width: 100%;
  padding: 20px;
  /* height: 250px; */
  background-color: #F2F2F2;
  display: table;
  margin: 0 auto;
}

.grey-bullet {
  font-family: 'Lato', sans-serif;
  line-height: 25px;
  margin: 20px;
}

.testing-image-cohabit {
  padding: 10px;
}


.testing-image-cohabit img {
  width: 60%;
}

#wireframe-padding {
  padding-bottom: 50px;
}

/* Media Styling */

@media screen and (max-width: 1241px){
  .case-study-title {
      font-size: 1.6rem;
    }
}

@media screen and (max-width: 1160px){
  .featured-header h1 {
    width: 30%;
  }

  #casestudy-navbar {
    height: 800px;
  }
}

@media screen and (max-width: 1100px){

  .case-study-header {
    margin-top: 40px;
  }


/*
  .intro-hp {
    width: 60%;
  } */

}

@media screen and (max-width: 1050px) {
  .hero-image-container img {
    width: 60%;
  }
}

@media screen and (max-width: 1000px) {

  .tools-used img {
    height: 300px;
    vertical-align: top;
  }

  .survey-img {
    display: block;
    text-align: center;
    padding-bottom: 30px;
  }

  .user-stories-flows-text {
  display: inline;
  }

  #padding-top{
    padding-top: 20px;
  }

  .user-stories-img {
    display: block;
    text-align: center;
    padding: 20px;
    padding-bottom: 30px;
  }

  .user-stories-img img {
    display: inline;
    width: 100%
  }

  .survey-text {
    padding-right: 0px;
  }

  #survey-btn {
    padding-top: 30px;
  }

  .intro-text {
    left: 40%;
  }

  .intro-hp {
    margin-bottom: 0px;
  }

}



@media screen and (max-width: 960px) {
  div #logo-progression img {
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .contact-form {
      display: inline;
      height: auto;
  }

  .left-side-contact {
    display: inline;
  }

  .left-side-text {
    top: 0;
    padding: 20px;
  }

  .right-side-contact {
    display: inline;
    width: auto;
  }

  .form-container {
    right: 0;
  }

  .fig-caption {
    text-align: center;
    padding-top: 10px;
    font-size: 1.1rem;
  }


}

@media screen and (max-width: 900px) {
.hifi-row {
  min-height: initial;
  max-height: 250px;
}

.hifi-cell.hifi-right h1 {
  font-size: 1.2rem;
}

.hifi-cell.hifi-left h1 {
  font-size: 1.2rem;
}

.survey-img-container {
  display: inline;
}

.survey-img-container figure {
  padding-bottom: 30px;
}

}

@media screen and (max-width: 862px){
.intro-text {
    left: 38%;
}

.fas {
  padding-left: 0px;
}

}

@media screen and (max-width: 833px){

  .overview-body-text {
    display: inline;
    padding-right: 0px;
  }

  .tools-used {
    display: block;
    text-align: center;
    padding-bottom: 80px;
    padding-top: 0px;
  }

  .tools-used img {
    display: inline;
    height: 300px;
  }

  .footer {
    display: block;
  }

  .signature {
    display:block;
  }

  .signature p {
    text-align: center;
    display: block;
  }

  .social-media {
    text-align: center;
    padding-top: 20px;
    display: block;
  }

  .left img {
      margin: 30px auto;
      max-height: 140px;
  }

  .right h1{
    margin: 0;
    font-size: 4.5rem;
    padding-bottom: 10px;
  }

  .right div h4{
    display: block;
    padding-left: 0;
  }

  .project-column-container{
    margin-top: 50px;
    margin-left: 20px;
  }

  .user-persona-container {
    text-align: center;
  }

  .user-persona-pics {
    display: inline-block;
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .user-persona-bullet {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding-bottom: 40px;
  }

.user-persona-list{
  width: 50%;
  margin: 0 auto;
  padding-bottom: 30px;
}

#hello #sandiego {
  font-size: 2rem;
}

#anita {
  font-size: 5rem;
}

#description {
  font-size: 2.5rem;
}

#purple_rec {
  width: 280px;
  height: 260px;
}

.intro-hp {
    height: 460px;
}
}


@media screen and (max-width: 765px) {
  .left img {
      margin: 40px auto;
      max-height: 120px;
  }

  .user-stories-img {
    padding: 10px;
    padding-bottom: 30px;
  }

  .featured-header h1 {
    font-size: 2rem;
}

.ca-row-imgs {
  display: none;
}

.ca-table-title {
  padding-bottom: 20px;
  text-align: left;
  font-size: 1.8rem;
}

.ca-table-subtitle {
  padding-bottom: 20px;
  font-size: 1.6rem;
}

}


@media screen and (max-width: 747px) {
  .logo{
  display: block;
  width: 100%;
  }

  .logo img{
  margin: 0 auto;
  display: block;
  }

  .nav-bar{
  padding: 40px 10px 10px 10px;
  }

  ul.nav-ul{
  display: block;
  margin: 0 auto;
  text-align: center;
  }

  li.nav-link{
  padding: 20px;
  }

  .case-study-header {
  margin-top: 40px;
  }

  .hero-image-container img {
      width: 70%;
  }

  .user-stories-img {
    display: none;
  }

  }

@media screen and (max-width: 738px){
  .main-aboutme {
    display: table;
    margin: 0 auto;
  }

  .scroll-img {
    background-image: none;
  }

  .about-me-pic {
    display: block;
    padding-top: 30px;
  }

  .about-me-pic {
    width: 100%;
  }

  #bio-pic {
    min-width: 50%;
    margin: 0 auto;
    display: block;
  }

  .aboutme-text {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    width: 90%;
    margin: 0 auto;
    display: block;
    padding-top: 10px;
  }

  .about-me-headers {
  font-size: 3rem;
  }

  .aboutme-text {
    width: 100%;
    margin: none;
  }

  .skills {
  display: inherit;
  }

  .skills h1 {
  text-align: center;
  font-weight: 700;
  font-size: 3.5rem;
  color: #4a4a4a;
  }

  .skill-imgs {
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  }

  .skill-imgs .skill-img-container{
  width: 66%;
  margin: 0 auto;
  }

  .skill-imgs .skill-img-container img{
  width: 100%;
  }

  /* .homepage-rectangles {
    display: none;
  } */

  /* .intro-text {
    left: 120px;
  } */

  /* #purple_rec {
    width: 300px;
    height: 270px;
  } */

  /* .intro-hp {
    width: 80%;
    background: green;
  } */

  }

@media screen and (max-width: 680px){
  /* .intro-hp{
  padding-top: 40px;
  padding-bottom: 20px;
  height: auto;
  }

  .intro-hp .intro-text{
  min-width: 45%;
  margin: 0;
  } */

  /* #purple_rec{
  position: absolute;
  top: 0;
  margin: 0 auto;
  z-index: -1;
  width: 260px;
  height: 235px;
  }

  #hello {
  font-size: 5rem;
  letter-spacing: 2px;
  }

  #anita {
  font-size: 3rem;
  letter-spacing: 1px;
  }

  #description {
  font-size: 1.6rem;
  letter-spacing: .5px;
  }

  #sandiego {
  font-size: 2rem;
  letter-spacing: 1px;
  } */

  .featured-projects {
  margin: 0 10px;
  margin-top: 60px;
  }

  .projects-row {
  height: 250px;
  }

  .left {
  background-color: rgba(248, 248, 220, 100);
  height: 100px;
  width: 100%;
  padding-top: 30px;
  }

  .left img {
  display: table-cell;
  margin: 0px auto;
  max-height: 100px;
  }

  .projects-column {
  float: none;
  }

  .right {
  width: 100%;
  height: 150px;
  display: inline-block;
  }

  .project-column-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 75px;
  }

  .right h1 {
  font-size: 3.5rem;
  margin: 0 auto;
  padding-right: 20px;
  }

  .right div h4 {
  display: block;
  font-size: 1.3rem;
  padding-left: 0px;
  padding-bottom: 10px;
  }

  .branding-subsection h3 {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  font-style: italic;
  font-weight: 400;
  padding-bottom: 20px;
  }

  div #logo-progression img {
    width: 100%;
    height: 70px;
    margin-bottom: 50px;
    left: 0;
  }

  .intro-hp {
    height: 400px;
}

  }

@media screen and (max-width: 640px) {
  .case-study-header {
      margin-top: 50px;
  }


  .hero-text{
    max-width: 350px;
    margin-top: 40px;
  }

  .prototype-button{
    width: 70px;
    height: 70px;
    bottom: 0px;
    right: -35px;
  }


  .hero-image-container {
      padding-bottom: 30px;
}

.intro-text {
    left: 34%;
}


.prototype-button p {
  font-size: 1.4rem;
}

.featured-header h1 {
  width: 40%;
}

.btn {
  padding: 15px 40px;
  font-size: 1.6rem;
}

.nav-link {
  width: 30%;
}

.hero-image-container img {
  width: 90%;
}

}


@media screen and (max-width: 604px) {

  .user-persona-bullet {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding-bottom: 40px;
  }

  .user-persona-list {
    width: 60%;
    display: inherit;
    padding-bottom: 30px;
  }

  .user-persona-bullet li {
    width: 100%;
  }

  .wireframe-figure {
    display: inline;
    padding-left: 0px;
  }

  .wireframe-pics {
    display: inline-block;
  }

  /* .hifi-row {
    min-height: 150px;
    max-height: 200px;
  }

  .hifi-cell.hifi-right h1 {
    font-size: 1rem;
    text-align: center;
  }

  .hifi-cell.hifi-left h1 {
    font-size: 1rem;
  } */

  .grey-bullet-points {
    font-size: 1.6rem;
  }

  .hifi-row{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /* align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap; */
  }
  .hifi-cell{
    width: 100%;
  }
  .hifi-text{

  }

  .hifi-right.hifi-text{
    display: none;
  }

  .hifi-left.hifi-text{
    display: none;
  }

  .grey-rectangle {
    padding: 0px;
    height: auto;
  }

  .testing-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.right-arrow-change {
    width: 20px;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
}

.fig-caption {
  text-align: center;
  padding: 20px;
  font-size: 1.2rem;
}

.testing-image img {
    /* width: 100%; */
    width: 90%;

}
}

@media screen and (max-width: 538px) {
  .subsection-title {
    font-size: 1.8rem;
    letter-spacing: .5px;
}
  .section-title {
    font-size: 2.5rem;
    letter-spacing: 2px;
    padding-bottom: 5rem;
  }

  .section-paragraphs {
    font-size: 1.8rem;
  }
}


@media screen and (max-width: 500px) {
  #casestudy-navbar {
      height: 750px;
  }

.subsection, .section-title{
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

  .hero-text h3 {
      font-size: 2rem;
  }

  .hero-text h1 {
      font-size: 6rem;
  }

  .hero-image-container {
      padding-bottom: 15px;
  }

  .prototype-button {
    position: relative;
    width: 80px;
    height: 80px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 10px;
  }

  .prototype-button p {
    font-size: 1.4rem;
  }

  .section-title {
    font-size: 2rem;
  }

  .subsection {
    padding-bottom: 40px;
  }

  .section-paragraphs {
    font-size: 1.6rem;
    line-height: 32px;
  }

  .section-button {
    font-size: 1.2rem;
  }

  .button-link {
    text-decoration: none;
  }

  .overview, .grey-background, .visual-design{
  padding: 0;
}

.intro-text {
  left: 10%;
}

.homepage-small-rectangles {
  display: none;
}

.intro-hp {
  margin-top: 0px;
}

.less-padding{
  padding-bottom: 10px;
}

}

@media screen and (max-width: 433px) {
  li.nav-link {
    padding: 0px;
    padding-top: 20px;
    font-size: 1.8rem;
}

.ca-table {
  padding: 0;
}
}

@media screen and (max-width: 400px) {
  #casestudy-navbar {
    height: 720px;
}

.ca-padding {
  padding-left: 10px;
}

}

@media screen and (max-width: 357px){
  ul.nav-ul{
    display: block;
    margin: 0 auto;
    text-align: center;
  }
/*
  li.nav-link{
    padding: 15px;
    font-size: 1.8rem;
  } */

  .tools-used img {
    height: 250px;
  }

  .survey-img img {
    width: 210px;
  }
}
